{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/mythology.css' %}">
{% endblock %}

{% block content %}
<div class="timeline">

    <h1 class="timeline-title">Мифология</h1>
 <div class="timeline-body">
    <div class="timeline-line"></div>

        {% for episode in episodes %}
        <div class="timeline-item {% if forloop.counter0|divisibleby:2 %}left{% else %}right{% endif %}">

            <a href="{% url 'episode_detail' episode.season episode.episode_number %}" class="timeline-link">

                <div class="episode-card">

                    <h2 class="episode-title">{{ episode.title }}</h2>

                    {% if episode.image %}
                        <img src="{{ episode.image.url }}" alt="{{ episode.title }}">
                    {% endif %}

                    <p>{{ episode.short_description }}</p>

                </div>

            </a>

        </div>

        {% endfor %}
    </div>

</div>
{% endblock %}
