.characters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Карточка */
.character-card-vertical {
    width: 250px;
    height: 400px; /* фиксированная высота */

    display: flex;
    flex-direction: column; /* вертикальная структура */

    padding: 15px;
    border-radius: 12px;
    /*background: #1e1e1e;*/
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Фото фиксированной высоты */
.character-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

/* Имя */
.character-name {
    font-size: 20px;
    margin: 10px 0;
    text-transform: uppercase;
}

/* Инфа занимает всё оставшееся место */
.character-info {
    flex-grow: 1;
    font-size: 14px;
    overflow: hidden; /* чтобы не ломало карточку */
}

/* Обрезка длинного текста */
.character-info p {
    margin: 4px 0;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* максимум строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Ховер */
.character-card-vertical:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}